

p {
    margin: 0px;
}

body {
  background: #cabf85;
  display: flex;
  justify-content: center; /* horisontellt */
  align-items: center;     /* vertikalt */
  min-height: 100vh;       /* tar upp hela skärmen */
}
section {
  max-width: 700px;   /* får aldrig bli bredare än 700px */
  width: 100%;        /* fyller ut hela skärmen på mobil */
  padding: 10px;      /* lite luft så texten inte klistrar i kanten */
  box-sizing: border-box; /* gör att padding räknas in i bredden */
}


.header {
    display: flex;
    flex-direction: column;
    justify-content: center; /* horisontellt */
    align-items: center;     /* vertikalt */
    min-height: 100vh;       /* tar upp hela skärmen */
}

img {
    height: 300px;
}

.left {
  display: flex;          /* två kolumner */
  justify-content: center; /* centrera båda tillsammans i mitten */
  gap: 40px;               /* avstånd mellan vänster och höger */
  margin-top: 20px;
}


.header {
  flex: 1;                /* tar upp ena sidan */
  text-align: center;
}

.right {
  flex: 2;                /* tar upp lite mer plats */
}