/* style.css */

h1, h2 {
  text-align: center;
  
}

h1 {
  font-size: 5px;
  margin-bottom: 12px;
}

h3 {
  margin-bottom: 2px; /* minskar avståndet neråt */
  margin-top: 5px;   /* kan du justera om du vill */
}

ul {
  margin-top: 2px;      /* minskar avståndet ovanför listan */
  margin-bottom: 10px;  /* avstånd under listan */
  padding-left: 20px;   /* så punktlistan inte hamnar för nära kanten */
}


.container {
  display: flex;              /* två kolumner */
  justify-content: center;    /* centrera hela containern */
  align-items: flex-start;    /* justera toppen */
  gap: 70px;                  /* avstånd mellan bild och listor */
  margin-top: 30px;
}

p {
  margin-top: 5px;    /* avstånd ovanför paragrafen */
  margin-bottom: 5px; /* avstånd nedanför paragrafen */
  line-height: 1.4;   /* gör texten mer kompakt men fortfarande läsbar */
}

.left {
  width: 300px;               /* bestäm en bredd för bilden */
  display: flex;
  justify-content: center;
}

.left img {
  max-width: 100%;            /* så att bilden inte spränger ramen */
  height: auto;
}

.right {
  width: 400px;               /* bestäm en bredd för listorna */
  display: flex;
  flex-direction: column;     /* stapla rubrik + lista */
  gap: 0px;                  /* avstånd mellan varje sektion */
}


body {
  background: #cabf85;      /*Bakrunds färg */
  font-family: Arial, Helvetica, sans-serif;
  
}




